Code Beautifier
CSS Formatter and Optimiser
based on csstidy 1.3
language: en de fr ptAddThis
CSS Input
CSS-Code:
*{margin:0;padding:0}:focus:not(:focus-visible){outline:none}html,body{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:16px}@font-face{font-family:times_now;src:url("../../fonts/tnl.otf") format("truetype")}@font-face{font-family:nhg;src:url("../../fonts/nhg55r.otf") format("truetype")}.t1{font-family:"times_now",times_now,"Times New Roman",times,serif;-moz-font-feature-settings:"kern" 1, "dlig" 1;-ms-font-feature-settings:"kern" 1, "dlig" 1;-o-font-feature-settings:"kern" 1, "dlig" 1;-webkit-font-feature-settings:"kern" 1, "dlig" 1;font-feature-settings:"kern" 1, "dlig" 1;font-kerning:normal;overflow-wrap:break-word;word-wrap:break-word;-ms-word-break:break-all;word-break:break-all;word-break:break-word}.t2{font-family:"nhg",nhg,"HelveticaNeue",HelveticaNeue,sans-serif;-moz-font-feature-settings:"kern" 1, "dlig" 1;-ms-font-feature-settings:"kern" 1, "dlig" 1;-o-font-feature-settings:"kern" 1, "dlig" 1;-webkit-font-feature-settings:"kern" 1, "dlig" 1;font-feature-settings:"kern" 1, "dlig" 1;font-kerning:normal;overflow-wrap:break-word;word-wrap:break-word;-ms-word-break:break-all;word-break:break-all;word-break:break-word;font-size:1rem;line-height:1rem}.boxflex{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-flex-direction:column;flex-direction:column}.boxflex-h{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-flex-direction:column;flex-direction:row}.boxflex-null{display:-webkit-block;display:-moz-block;display:-ms-block;display:-webkit-block;display:block;-webkit-box-align:baseline;-moz-box-align:baseline;-ms-flex-align:baseline;-webkit-align-items:baseline;align-items:baseline;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start;-webkit-flex-direction:column;flex-direction:column}.boxflex-100{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-flex-direction:column;flex-direction:column;width:100vw;height:100vh;position:fixed;top:0;left:0}::selection{background-color:#0000ff}a{text-decoration:none;cursor:alias;color:#000}body{background-color:#f6f6f6;margin:0;font-family:"times_now",times_now,"Times New Roman",times,serif;line-height:1.2rem;color:#000;padding:2rem}.star{position:fixed;top:2rem;right:2rem}.star svg{width:2rem;stroke:#000;stroke-width:2}.about,.august{display:block;margin-right:4rem;line-height:1.2rem}.august{margin-top:2rem;margin-left:6rem}.about{width:39rem}.august{width:30rem}.small{display:none}@media (max-width: 740px){.about{width:unset}.august{width:unset}}@media (max-width: 640px){.about,.august{width:calc(100vw - 4rem);margin-left:0}.small{display:block}.star{top:unset;right:unset;bottom:2rem;left:0;width:100vw;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-flex-direction:column;flex-direction:column}}@media only screen and (min-device-width: 320px) and (max-device-width: 829px) and (-webkit-min-device-pixel-ratio: 2){.about,.august{width:calc(100vw - 4rem);margin-left:0}.small{display:block}.star{top:unset;right:unset;bottom:2rem;left:0;width:100vw;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-flex-direction:column;flex-direction:column}body{padding:0.5rem}.about,.august{width:calc(100vw - 1rem);margin-left:0}.small{display:block}.star{top:unset;right:unset;bottom:2rem;left:0;width:100vw;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-flex-direction:column;flex-direction:column}}@media (prefers-color-scheme: dark){*{margin:0;padding:0}:focus:not(:focus-visible){outline:none}html,body{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:16px}@font-face{font-family:times_now;src:url("../../fonts/tnl.otf") format("truetype")}@font-face{font-family:nhg;src:url("../../fonts/nhg55r.otf") format("truetype")}.t1{font-family:"times_now",times_now,"Times New Roman",times,serif;-moz-font-feature-settings:"kern" 1, "dlig" 1;-ms-font-feature-settings:"kern" 1, "dlig" 1;-o-font-feature-settings:"kern" 1, "dlig" 1;-webkit-font-feature-settings:"kern" 1, "dlig" 1;font-feature-settings:"kern" 1, "dlig" 1;font-kerning:normal;overflow-wrap:break-word;word-wrap:break-word;-ms-word-break:break-all;word-break:break-all;word-break:break-word}.t2{font-family:"nhg",nhg,"HelveticaNeue",HelveticaNeue,sans-serif;-moz-font-feature-settings:"kern" 1, "dlig" 1;-ms-font-feature-settings:"kern" 1, "dlig" 1;-o-font-feature-settings:"kern" 1, "dlig" 1;-webkit-font-feature-settings:"kern" 1, "dlig" 1;font-feature-settings:"kern" 1, "dlig" 1;font-kerning:normal;overflow-wrap:break-word;word-wrap:break-word;-ms-word-break:break-all;word-break:break-all;word-break:break-word;font-size:1rem;line-height:1rem}.boxflex{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-flex-direction:column;flex-direction:column}.boxflex-h{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-flex-direction:column;flex-direction:row}.boxflex-null{display:-webkit-block;display:-moz-block;display:-ms-block;display:-webkit-block;display:block;-webkit-box-align:baseline;-moz-box-align:baseline;-ms-flex-align:baseline;-webkit-align-items:baseline;align-items:baseline;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start;-webkit-flex-direction:column;flex-direction:column}.boxflex-100{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-flex-direction:column;flex-direction:column;width:100vw;height:100vh;position:fixed;top:0;left:0}::selection{background-color:#0000ff}a{text-decoration:none;cursor:alias;color:#c5c5c5}body{background-color:#000;margin:0;font-family:"times_now",times_now,"Times New Roman",times,serif;line-height:1.2rem;color:#c5c5c5;padding:2rem}.star{position:fixed;top:2rem;right:2rem}.star svg{width:2rem;stroke:#c5c5c5;stroke-width:2}.about,.august{display:block;margin-right:4rem;line-height:1.2rem}.august{margin-top:2rem;margin-left:6rem}.about{width:39rem}.august{width:30rem}.small{display:none}}@media (prefers-color-scheme: dark) and (max-width: 740px){.about{width:unset}.august{width:unset}}@media (prefers-color-scheme: dark) and (max-width: 640px){.about,.august{width:calc(100vw - 4rem);margin-left:0}.small{display:block}.star{top:unset;right:unset;bottom:2rem;left:0;width:100vw;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-flex-direction:column;flex-direction:column}}@media only screen and (prefers-color-scheme: dark) and (min-device-width: 320px) and (max-device-width: 829px) and (-webkit-min-device-pixel-ratio: 2){.about,.august{width:calc(100vw - 4rem);margin-left:0}.small{display:block}.star{top:unset;right:unset;bottom:2rem;left:0;width:100vw;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-flex-direction:column;flex-direction:column}body{padding:0.5rem}.about,.august{width:calc(100vw - 1rem);margin-left:0}.small{display:block}.star{top:unset;right:unset;bottom:2rem;left:0;width:100vw;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-flex-direction:column;flex-direction:column}}

CSS from URL:
 Code Layout
Compression (code layout):

Custom template
 Options
 Preserve CSS
 Sort Selectors (caution)
 Sort Properties
Regroup selectors

Optimise shorthands

 Compress colors
 Compress font-weight
 Lowercase selectors
Case for properties:
 None
 Lowercase
 Uppercase
 Remove unnecessary backslashes
 Remove last ;
 Discard invalid properties

 Add timestamp
 Output as file
 Messages
1
Invalid property in CSS2.1: -ms-text-size-adjust
Invalid property in CSS2.1: -webkit-text-size-adjust
Invalid property in CSS2.1: -webkit-font-smoothing
Invalid property in CSS2.1: -moz-osx-font-smoothing
Invalid property in CSS2.1: src
Invalid property in CSS2.1: -moz-font-feature-settings
Invalid property in CSS2.1: -ms-font-feature-settings
Invalid property in CSS2.1: -o-font-feature-settings
Invalid property in CSS2.1: -webkit-font-feature-settings
Invalid property in CSS2.1: font-feature-settings
Invalid property in CSS2.1: font-kerning
Invalid property in CSS2.1: overflow-wrap
Invalid property in CSS2.1: word-wrap
Invalid property in CSS2.1: -ms-word-break
Invalid property in CSS2.1: word-break
Optimised number: Changed "-webkit-box" to "0"
Optimised number: Changed "-moz-box" to "0"
Optimised number: Changed "-ms-flexbox" to "0"
Optimised number: Changed "-webkit-flex" to "0"
Invalid property in CSS2.1: -webkit-box-align
Invalid property in CSS2.1: -moz-box-align
Invalid property in CSS2.1: -ms-flex-align
Invalid property in CSS2.1: -webkit-align-items
Invalid property in CSS2.1: align-items
Invalid property in CSS2.1: -webkit-box-pack
Invalid property in CSS2.1: -moz-box-pack
Invalid property in CSS2.1: -ms-flex-pack
Invalid property in CSS2.1: -webkit-justify-content
Invalid property in CSS2.1: justify-content
Invalid property in CSS2.1: -webkit-flex-direction
Invalid property in CSS2.1: flex-direction
Optimised number: Changed "-webkit-block" to "0"
Optimised number: Changed "-moz-block" to "0"
Optimised number: Changed "-ms-block" to "0"
Optimised color: Changed "#0000ff" to "#00f"
Invalid property in CSS2.1: stroke
Invalid property in CSS2.1: stroke-width
Optimised number: Changed "0.5rem" to ".5rem"
Input: 10.426KB, Output:8.606KB, Compression Ratio: 17.5%(-1820 Bytes)
Select or Copy to Clipboard
* {
margin:0;
padding:0;
}

:focus:not(:focus-visible) {
outline:none;
}

html,body {
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
font-size:16px;
}

@font-face {
font-family:nhg;
src:url(../../fonts/nhg55r.otf) format(truetype);
}

.t1 {
font-family:times_now,times_now,"Times New Roman",times,serif;
-moz-font-feature-settings:kern 1, dlig 1;
-ms-font-feature-settings:kern 1, dlig 1;
-o-font-feature-settings:kern 1, dlig 1;
-webkit-font-feature-settings:kern 1, dlig 1;
font-feature-settings:kern 1, dlig 1;
font-kerning:normal;
overflow-wrap:break-word;
word-wrap:break-word;
-ms-word-break:break-all;
word-break:break-word;
}

.t2 {
font-family:nhg,nhg,HelveticaNeue,HelveticaNeue,sans-serif;
-moz-font-feature-settings:kern 1, dlig 1;
-ms-font-feature-settings:kern 1, dlig 1;
-o-font-feature-settings:kern 1, dlig 1;
-webkit-font-feature-settings:kern 1, dlig 1;
font-feature-settings:kern 1, dlig 1;
font-kerning:normal;
overflow-wrap:break-word;
word-wrap:break-word;
-ms-word-break:break-all;
word-break:break-word;
font-size:1rem;
line-height:1rem;
}

.boxflex {
display:flex;
-webkit-box-align:center;
-moz-box-align:center;
-ms-flex-align:center;
-webkit-align-items:center;
align-items:center;
-webkit-box-pack:center;
-moz-box-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
justify-content:center;
-webkit-flex-direction:column;
flex-direction:column;
}

.boxflex-h {
display:flex;
-webkit-box-align:center;
-moz-box-align:center;
-ms-flex-align:center;
-webkit-align-items:center;
align-items:center;
-webkit-box-pack:center;
-moz-box-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
justify-content:center;
-webkit-flex-direction:column;
flex-direction:row;
}

.boxflex-null {
display:block;
-webkit-box-align:baseline;
-moz-box-align:baseline;
-ms-flex-align:baseline;
-webkit-align-items:baseline;
align-items:baseline;
-webkit-box-pack:start;
-moz-box-pack:start;
-ms-flex-pack:start;
-webkit-justify-content:flex-start;
justify-content:flex-start;
-webkit-flex-direction:column;
flex-direction:column;
}

.boxflex-100 {
display:flex;
-webkit-box-align:center;
-moz-box-align:center;
-ms-flex-align:center;
-webkit-align-items:center;
align-items:center;
-webkit-box-pack:center;
-moz-box-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
justify-content:center;
-webkit-flex-direction:column;
flex-direction:column;
width:100vw;
height:100vh;
position:fixed;
top:0;
left:0;
}

::selection {
background-color:#00f;
}

a {
text-decoration:none;
cursor:alias;
color:#000;
}

body {
background-color:#f6f6f6;
font-family:times_now,times_now,"Times New Roman",times,serif;
line-height:1.2rem;
color:#000;
margin:0;
padding:2rem;
}

.star {
position:fixed;
top:2rem;
right:2rem;
}

.star svg {
width:2rem;
stroke:#000;
stroke-width:2;
}

.about,.august {
display:block;
margin-right:4rem;
line-height:1.2rem;
}

.august {
margin-top:2rem;
margin-left:6rem;
width:30rem;
}

.about {
width:39rem;
}

.small {
display:none;
}

@media max-width 740px{
.about,.august {
width:unset;
}
}

@media max-width 640px{
.about,.august {
width:calc(100vw-4rem);
margin-left:0;
}

.small {
display:block;
}

.star {
top:unset;
right:unset;
bottom:2rem;
left:0;
width:100vw;
display:flex;
-webkit-box-align:center;
-moz-box-align:center;
-ms-flex-align:center;
-webkit-align-items:center;
align-items:center;
-webkit-box-pack:center;
-moz-box-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
justify-content:center;
-webkit-flex-direction:column;
flex-direction:column;
}
}

@media only screen and min-device-width 320px and max-device-width 829px and -webkit-min-device-pixel-ratio 2{
.about,.august {
width:calc(100vw-1rem);
margin-left:0;
}

.small {
display:block;
}

.star {
top:unset;
right:unset;
bottom:2rem;
left:0;
width:100vw;
display:flex;
-webkit-box-align:center;
-moz-box-align:center;
-ms-flex-align:center;
-webkit-align-items:center;
align-items:center;
-webkit-box-pack:center;
-moz-box-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
justify-content:center;
-webkit-flex-direction:column;
flex-direction:column;
}

body {
padding:.5rem;
}
}

@media prefers-color-scheme dark{
* {
margin:0;
padding:0;
}

:focus:not(:focus-visible) {
outline:none;
}

html,body {
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
font-size:16px;
}

@font-face {
font-family:nhg;
src:url(../../fonts/nhg55r.otf) format(truetype);
}

.t1 {
font-family:times_now,times_now,"Times New Roman",times,serif;
-moz-font-feature-settings:kern 1, dlig 1;
-ms-font-feature-settings:kern 1, dlig 1;
-o-font-feature-settings:kern 1, dlig 1;
-webkit-font-feature-settings:kern 1, dlig 1;
font-feature-settings:kern 1, dlig 1;
font-kerning:normal;
overflow-wrap:break-word;
word-wrap:break-word;
-ms-word-break:break-all;
word-break:break-word;
}

.t2 {
font-family:nhg,nhg,HelveticaNeue,HelveticaNeue,sans-serif;
-moz-font-feature-settings:kern 1, dlig 1;
-ms-font-feature-settings:kern 1, dlig 1;
-o-font-feature-settings:kern 1, dlig 1;
-webkit-font-feature-settings:kern 1, dlig 1;
font-feature-settings:kern 1, dlig 1;
font-kerning:normal;
overflow-wrap:break-word;
word-wrap:break-word;
-ms-word-break:break-all;
word-break:break-word;
font-size:1rem;
line-height:1rem;
}

.boxflex {
display:flex;
-webkit-box-align:center;
-moz-box-align:center;
-ms-flex-align:center;
-webkit-align-items:center;
align-items:center;
-webkit-box-pack:center;
-moz-box-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
justify-content:center;
-webkit-flex-direction:column;
flex-direction:column;
}

.boxflex-h {
display:flex;
-webkit-box-align:center;
-moz-box-align:center;
-ms-flex-align:center;
-webkit-align-items:center;
align-items:center;
-webkit-box-pack:center;
-moz-box-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
justify-content:center;
-webkit-flex-direction:column;
flex-direction:row;
}

.boxflex-null {
display:block;
-webkit-box-align:baseline;
-moz-box-align:baseline;
-ms-flex-align:baseline;
-webkit-align-items:baseline;
align-items:baseline;
-webkit-box-pack:start;
-moz-box-pack:start;
-ms-flex-pack:start;
-webkit-justify-content:flex-start;
justify-content:flex-start;
-webkit-flex-direction:column;
flex-direction:column;
}

.boxflex-100 {
display:flex;
-webkit-box-align:center;
-moz-box-align:center;
-ms-flex-align:center;
-webkit-align-items:center;
align-items:center;
-webkit-box-pack:center;
-moz-box-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
justify-content:center;
-webkit-flex-direction:column;
flex-direction:column;
width:100vw;
height:100vh;
position:fixed;
top:0;
left:0;
}

::selection {
background-color:#00f;
}

a {
text-decoration:none;
cursor:alias;
color:#c5c5c5;
}

body {
background-color:#000;
font-family:times_now,times_now,"Times New Roman",times,serif;
line-height:1.2rem;
color:#c5c5c5;
margin:0;
padding:2rem;
}

.star {
position:fixed;
top:2rem;
right:2rem;
}

.star svg {
width:2rem;
stroke:#c5c5c5;
stroke-width:2;
}

.about,.august {
display:block;
margin-right:4rem;
line-height:1.2rem;
}

.august {
margin-top:2rem;
margin-left:6rem;
width:30rem;
}

.about {
width:39rem;
}

.small {
display:none;
}
}

@media prefers-color-scheme dark and max-width 740px{
.about,.august {
width:unset;
}
}

@media prefers-color-scheme dark and max-width 640px{
.about,.august {
width:calc(100vw-4rem);
margin-left:0;
}

.small {
display:block;
}

.star {
top:unset;
right:unset;
bottom:2rem;
left:0;
width:100vw;
display:flex;
-webkit-box-align:center;
-moz-box-align:center;
-ms-flex-align:center;
-webkit-align-items:center;
align-items:center;
-webkit-box-pack:center;
-moz-box-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
justify-content:center;
-webkit-flex-direction:column;
flex-direction:column;
}
}

@media only screen and prefers-color-scheme dark and min-device-width 320px and max-device-width 829px and -webkit-min-device-pixel-ratio 2{
.about,.august {
width:calc(100vw-1rem);
margin-left:0;
}

.small {
display:block;
}

.star {
top:unset;
right:unset;
bottom:2rem;
left:0;
width:100vw;
display:flex;
-webkit-box-align:center;
-moz-box-align:center;
-ms-flex-align:center;
-webkit-align-items:center;
align-items:center;
-webkit-box-pack:center;
-moz-box-pack:center;
-ms-flex-pack:center;
-webkit-justify-content:center;
justify-content:center;
-webkit-flex-direction:column;
flex-direction:column;
}

body {
padding:.5rem;
}
}
